/* CSS Document */
@font-face{
	font-family: "汉仪旗黑-35S";
	src: url(../../resources/fonts/hyqh35S.ttf)
}
@font-face{
	font-family: "Avenir 45 Book";
	src: url(../../resources/fonts/Avenir-Book.otf)
}

@font-face{
	font-family: "Avenir";
	src: url(../../resources/fonts/Avenir.ttc)
}

#topBackground {
	border-width: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#search {
	border-width: 0px;
	position: absolute;
	left: 975px;
	top: 87px; 
}

#menu {
	position:absolute; 
	left: 0px;
	top: 0px;
	z-index:99999;
}

.swiper-container {
	position: absolute;
	top: 633px;
	left: 0px;
	width: 1080px;
	height: 1287px;
}

#month {
	position: absolute;
	left: 71px;
	top: 242px;
	font-family: "汉仪旗黑-35S";
	font-size: 100.75px;
	color: white;
}

#year {
	font-family: Avenir Light;
	font-size: 100.75px;
	position: absolute;
	left: 296px;
	top: 226px;
	color: white;
	opacity: 0.7;
}

#dateNum {
	position: relative;
	left: 63px;
	font-family: "Avenir 45 Book";
	font-size: 100.8px;
	color: #A3A3A5;
}

#dateInTable1 {
	height: 161px;
	background-color: #F8F8F8;
}

#calendarTable1 {
	width: 1080px;
	border-collapse: collapse;
}

.event {
	font-family: "汉仪旗黑-35S";
	color: black;
	font-size: 43.18px;
}

.timeOfEvent {
	font-family: "Avenir 45 Book";
	font-size: 34.52px;
	color: #A8A8AA;
}

.table-container {
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.table-container::-webkit-scrollbar
{
-webkit-appearance: none;
width: 14px;
height: 14px;
}

.table-container::-webkit-scrollbar-thumb
{
border-radius: 8px;
border: 3px solid #fff;
background-color: rgba(0, 0, 0, .3);
}

.dayOfWeek {
	width: 136px;
	text-align: center;
	font-family: "Avenir 45 Book";
	font-size: 31.68px;
	color: #8f8f92;
	position: absolute;
	top: 63px;
	left: 0px;
}

.dateInCalendar2 {
	width: 136px;
	text-align: center;
	font-family: "Avenir 45 Book";
	font-size: 37.44px;
	color: #000000;
	position: absolute;
	top: 173px;
	left: 0px;
}

.isToday {
	position: absolute;
	left:10px;
	top: 133px;
}

.haveEvents {
	position: absolute;
	left: 60px;
	top: 222px;
}

#pageSwitch {
	position: absolute;
	left: 461px;
	top: 523px;
}
